{{ define "contact-me-ok" }}
<div id="contact-me-ok">
    <p>Sent!</p>
    <p>I will likely get back to you very soon, depends on load really and I don't think many people are sending these right now so...</p>
</div>
{{ end }}
