{{define "main"}}

<div class="window" style="top: 50%; left: 50%" id="main-win" tabindex="-1">
    <div class="title-bar">
        <div class="title-bar-text">Ufolio</div>
        {{ template "window-controls" }}
    </div>
    <div class="window-body">
        <p>this is a personal portfolio in development</p>
        <p>maybe come back later :D</p>
        <button hx-post="/clicked" hx-swap="outerHTML">Click Me</button>
    </div>
</div>

{{end}}
