{{ define "azure-data-explorer" }}
<div id="azure-data-explorer">
    <h3>Azure Data Explorer</h3>
    <div>
        <img src="/static/gears.png" alt="TBD" />
        <p>TBD</p>
    </div>
</div>
{{ end }}
