body {
    background-color: #008080;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
    --start-bar-height: 27px;
}

.title-bar-text {
    pointer-events: none;
}

.window {
    position: absolute;
    margin: auto;

    &:not(.start-menu) {
        /*display: block;
        overflow: auto;
        resize: both;*/
        /* this doesnt work, figure out why later*/

        .window-body {
            width: 100%;
            height: calc(100% - 1rem - 20px);
            position: relative;
            .tree-view {
                pointer-events: auto;
                box-sizing: border-box;
                overflow: scroll;
                height: 100%;
                width: fit-content;
                li {
                    button {
                        all: unset;
                        cursor: pointer;

                        &[aria-checked="true"] {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        &[aria-expanded="true"] {
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: var(--start-bar-height, 27px) !important;
            width: unset !important;
            height: unset !important;
            /*why the !important ? we are violating the cascade since we want to maintain window starter placeement on the style*/

            /*.title-bar {
                pointer-events: none;
                * {
                    pointer-events: auto;
                }
            }*/
        }
        .title-bar {
            cursor: move;
        }
    }

    &[aria-hidden="true"] {
        display: none;
    }
    &#about-tech-window {
        width: 768px;
        height: 600px;
        .window-body {
            display: grid;
            grid-auto-flow: column;
            font-size: 1rem;
            > div {
                display: none;
                padding-right: 0.5rem;
                height: 100%;
                overflow: scroll;
                box-sizing: border-box;
                margin: 0 1rem 0 1rem;
                &[aria-hidden="false"] {
                    display: block;
                }
                max-width: 768px;
            }
            figure {
                display: flex;
                flex-direction: column;
                max-width: fit-content;
                img {
                    width: 100%;
                    max-width: fit-content;
                }
                figcaption {
                    text-align: center;
                    font-size: 0.85rem;
                }
            }
        }
    }
}

.start-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--start-bar-height, 27px);
    outline: 1px solid rgb(223, 223, 223);
    border-top: 1px solid rgb(255, 255, 255);
    background: rgb(192, 192, 192);
    color: rgb(0, 0, 0);
    display: flex;
    button {
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        &[aria-pressed="true"] {
            box-shadow:
                inset -1px -1px #ffffff,
                inset 1px 1px #0a0a0a,
                inset -2px -2px #dfdfdf,
                inset 2px 2px #808080;
        }
        &[aria-controls="about-me-window"] span {
            font-weight: bold;
        }

        span {
            margin-left: 5px;
            font-size: 14px;
        }
    }
}

button img {
    height: 14px;
}

.divider {
    border-left: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(255, 255, 255);
    margin: 2px 0 2px 0;
}

.start-menu {
    position: absolute;
    bottom: 100%;
    width: 400px;
    color: rgb(0, 0, 0);
    display: grid;
    grid-auto-flow: column;
    z-index: 10;
    .me {
        text-overflow: wrap;
        overflow-wrap: break-word;
        padding: 16px 32px 16px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.2rem;

        h1 {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.start-menu-bar {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, navy, #1084d0);
    justify-content: space-between;
    padding: 3px 2px 3px 3px;

    a {
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-decoration: none;
    }
}

.repos {
    display: grid;
    grid-template-rows: repeat(auto-fit, 75px);
    grid-auto-flow: column;
    padding-top: 1rem;
    grid-auto-columns: 70px;
    height: calc(100% - 28px);
    width: 100%;
    box-sizing: border-box;
    column-gap: 0;
    row-gap: 1rem;

    .repo {
        display: grid;
        grid-auto-flow: row;
        gap: 8px;
        align-items: start;
        place-items: center;
        text-align: center;
        align-content: start;
        text-decoration: none;

        img {
            width: 32px;
        }

        span {
            color: white;
            font-size: 11px;
            display: block;
            width: 70px;
            word-break: break-word;
            overflow-wrap: break-word;
            font-size: 11px;
            line-height: 1.2;
            font-weight: 500;
        }
    }
}
