{{ define "about-me" }}
<div class="start-menu-bar">
    <a
        href="https://github.com/UltimateForm"
        target="_blank"
        rel="noopener noreferrer"
        >https://github.com/UltimateForm</a
    >
</div>
<div class="me">
    <h1>UltimateForm</h1>
    <p>
        This is my [in development] portfolio. Here will see a lot of what I
        worked on + a few tidbits about myself.
    </p>
    <p>
        Although, this div should be "about me" so yeah I'm a fullstack engineer
        (10 years of experience)employed at [redacted] doing all kind of work, I
        code a lot in my free time, going through a golang phase right now.
    </p>
</div>
{{ end }}
