{{ define "about-tech" }}
<div
    class="window"
    id="about-tech-window"
    style="top: 10%; left: 30%"
    aria-hidden="true"
    tabindex="-1"
>
    <div class="title-bar">
        <div class="title-bar-text">about tech</div>
        {{ template "window-controls" }}
    </div>
    <div class="window-body">
        <p>this is a personal portfolio in development</p>
        <p>maybe come back later :D</p>
        <button hx-post="/clicked" hx-swap="outerHTML">Click Me</button>
    </div>
</div>
{{ end }}
