{{define "layout"}}
<html>
    <head>
        <title>Ufolio</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://unpkg.com/98.css" />
        <link rel="stylesheet" href="/static/index.css" />
        <script src="/static/main.js"></script>
    </head>
    <body>
        {{ template "main" . }}
        <div class="start-bar">
            <button aria-controls="about-me-window">
                <img src="/static/start.png" alt="About Me" />
                <span>About Me</span>
            </button>
            <div class="divider"></div>
            <button>
                <img src="/static/tech.png" alt="about tech" />
                <span>about tech</span>
            </button>
            <button>
                <img src="/static/projects.png" alt="projects" />
                <span>projects</span>
            </button>
            <button>
                <img src="/static/contact.png" alt="contact me" />
                <span>contact me</span>
            </button>
            <div
                class="window start-menu"
                id="about-me-window"
                aria-hidden="true"
            >
                {{ template "about-me" . }}
            </div>
        </div>
    </body>
</html>
{{end}}
